$black: #4d4d4d; /* Тёмно-серый */
$background: #f3e5ab; /* Пастельный жёлтый */
$gray-line: #e0e0e0; /* Светлый серый */
$orange: #f0a500; /* Пастельный оранжевый */

$container-width: 90%;

$duration: 0.15s;
