.root {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 450px; // Чтобы блок с инпутом не был слишком широким
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  padding-left: 42px;
  width: 100%;
  max-width: 430px; // Установим максимальную ширину, чтобы input был адаптивным
  border-radius: 10px;
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease; // Плавное изменение

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); // Эффект при фокусе
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.5); // Меньше контраста для текста плейсхолдера
  }
}

.icon {
  width: 22px;
  height: 22px;
  opacity: 0.5;
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%); // Центровка и улучшение позиционирования
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.8;
  }
}

.clearIcon {
  width: 18px;
  height: 18px;
  opacity: 0.5;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%); // Центровка по вертикали
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.2s ease;

  &:hover {
    opacity: 0.8;
    transform: translateY(-50%) scale(1.1); // Легкое увеличение и улучшение эффекта
  }
}
